body {
  width: 300pt;
}

a {
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.3em;
  text-decoration: none;
}

.datum {
  float: left;
  padding-right: 5px;
}

.name {
  overflow: hidden;
}

.einkauf {
  margin: 10px;
  margin-bottom: 0px;
}
