#popupNeedThat {
  position: absolute;
  z-index: 500;
  top: 25%;
  width: 700px;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(0,0,0,.1);
}

#popupNeedThat h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

#popupNeedThat #btn_addToCart {
  margin-top: 30px;
}

.exit {
  color: black !important;
  text-decoration: none !important;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.exit:after {
  content: '✖';
}
